.composition {
	position: relative;
	&__photo {
		width: 55%;
		box-shadow: 0 2rem 4rem rgba($color-black, 0.3);
		border-radius: 2px;
		position: absolute;

		&--p1 {
			left: 0;
			top: -10%;
		}

		&--p2 {
			right: 0;
			top: 2rem;
		}

		&--p3 {
			left: 20%;
			top: 12rem;
		}

		&:hover {
			transform: scale(1.1);
			box-shadow: 0 2.5rem 4rem rgba($color-black, 0.4);
			z-index: 10;
		}
	}
}
