.composition {
	position: relative;
	&__photo {
		width: 55%;
		box-shadow: 0 2rem 4rem rgba($color-black, 0.3);
		//border-radius: 2px;
		position: absolute;
		transition: all 0.2s;
		outline-offset: 1.5rem;

		&--p1 {
			left: 0;
			top: -10%;
		}

		&--p2 {
			right: 0;
			top: 2rem;
		}

		&--p3 {
			left: 20%;
			top: 12rem;
		}

		&:hover {
			outline: 1.5rem solid $color-primary;
			transform: scale(1.1) translateY(-5px);
			box-shadow: 0 2.5rem 4rem rgba($color-black, 0.4);
			z-index: 10;
		}
	}

	&:hover &__photo:not(:hover) {
		transform: scale(0.95);
	}
	//compostion:hover compostion__photo:not(:hover)
}
